@charset "UTF-8";
.jumbotron {
  background-color: #fcd1ba;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
  /* con el unclude margenes no usariamos mas la propiedad margin-top: 60px; */ }

footer {
  background-color: #fcd1ba;
  /* padding Establece la anchura de algunas o todas las zonas 
    de relleno de los elementos footer*/
  padding: 10px 10px 0 10px;
  /* margin-top espacio  entre el footer y el container en este caso y tambien el margin-bottom en 0px   */
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  /* Flex nos dice cuanto queremos que crezca el elemento y de cuanto va
    ser el ancho. Si le pones 1 quiere decir q va a tener el tamaño va a
    mantenerse intacto, su pusieramos dos el tamaño seria el doble. 150px es
    el ancho definido */
  flex: 1 200px;
  /* Establece la anchura de algunas o todas las zonas de relleno de los elementos 
   padding top - right - bottom - left, sigue sentido horario */
  /* margen top entre las columnas */
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  /* el ancho del boton reserva lo seteamos al 100% */
  width: 100%;
  /* hacemos que el boton ocupe todo el ancho, le damos 0px de borde */
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
